# Caddy Speedtest
# https://maxchernoff.ca/tools/speedtest
# SPDX-License-Identifier: Apache-2.0+
# SPDX-FileCopyrightText: 2025 Max Chernoff
{
	log {
		output stderr
		format console
		level DEBUG
	}
}

https://localhost, http://localhost {
	log {
		output stderr
		format console
		level DEBUG
	}

	@speedtest path /speedtest

	speedtest @speedtest

	handle_errors {
		header Content-Type "text/plain; charset=utf-8"
		respond `{err.status_code} {err.status_text}: {err.message}`
	}
}
